# MAINNET BASIC SETUP
# WARNING: Change the unobtaniumd_username and unobtaniumd_passwords!

# default /etc/electrumx.conf for systemd
# Required
DB_DIRECTORY = /etc/electrumx/

# Unobtanium Node RPC Credentials
DAEMON_URL = http://unobtaniumd_username:unobtaniumd_password_DONOT_USE_THIS@localhost:65535/

# See https://github.com/flurbos/electrum/blob/master/docs/ENVIRONMENT.rst
# information about other configuration settings you probably want to consider

ELECTRUMX = /usr/local/bin/electrumx_server
USERNAME = electrumx
COIN = Unobtanium
NET = mainnet
DB_ENGINE = leveldb
REORG_LIMIT = 200
DONATION_ADDRESS = uXoKXkoBjLKdTsPjsTEq4n9FitcEpzDUpC
SSL_CERTFILE = /etc/electrumx/server.crt
SSL_KEYFILE = /etc/electrumx/server.key

# Listen on all interfaces (HOST IP):
