# TESTNET BASIC SETUP
# WARNING: Change the unobtaniumd_username and unobtaniumd_passwords!

# default /etc/electrumx.conf for systemd
# Required
DB_DIRECTORY = /etc/electrumx/

# Unobtanium Node RPC Credentials
# DAEMON_URL = http://unobtaniumd_usrname:unobtaniumd_pass_dontusethis@localhost:65531

# See https://github.com/flurbos/electrum/blob/master/docs/ENVIRONMENT.rst
# information about other configuration settings you probably want to consider

ELECTRUMX = /usr/local/bin/electrumx_server
USERNAME = electrumx
COIN = Unobtanium
NET = testnet
DB_ENGINE = leveldb
REORG_LIMIT = 200
DONATION_ADDRESS = Uhbd2JFRv3eMse9kzMfn8TdeybPoSFzWUc
SSL_CERTFILE = /etc/electrumx/server.crt
SSL_KEYFILE = /etc/electrumx/server.key
TCP_PORT = 51001
SSL_PORT = 51002

# Listen on all interfaces (HOST IP):
HOST = 0.0.0.0
